@import url(card-component.css);
@import url(./reset.css);
@import url(./base.css);
@import url(./theme.css);

body {
  background-color: var(--white);
}

button {
  font-size: var(--xx-small-text);
  padding-block: var(--x-small-spacing);
  padding-inline: var(--small-spacing);
  border-radius: 1.875rem;
  border: none;
}

/* 카드 레이아웃 */
.ipad-pro-card {
  border: 0.0001px solid;
  color: var(--white);
  width: 100%;
  height: var(--size);
  margin-bottom: 0.9375rem;
  background: url(./../products/ipad_pro.jpeg) no-repeat center;
  background-size: cover;
}
.ipad-air-card {
  border: 0.0001px solid;
  color: var(--white);
  width: 100%;
  height: var(--size);
  margin-bottom: 0.9375rem;
  background: url(./../products/ipad_air.jpeg) no-repeat center;
  background-size: cover;
}
.iphone-15-pro-card {
  border: 0.0001px solid;
  color: var(--white);
  width: 100%;
  height: var(--size);
  margin-bottom: 0.9375rem;
  background: url(./../products/iphone15_pro.jpeg) no-repeat center;
  background-size: cover;
}
.iphone-15-card {
  border: 0.0001px solid;
  color: var(--white);
  width: 100%;
  height: var(--size);
  margin-bottom: 0.9375rem;
  background: url(./../products/iphone15.jpeg) no-repeat center;
  background-size: cover;
}
.watch {
  border: 0.0001px solid;
  color: var(--white);
  width: 100%;
  height: var(--size);
  margin-bottom: 0.9375rem;
  background: url(./../products/apple_watch.jpeg) no-repeat center;
  background-size: cover;
}
.macbook-air {
  border: 0.0001px solid;
  color: var(--white);
  width: 100%;
  height: var(--size);
  margin-bottom: 0.9375rem;
  background: url(./../products/macbook_air.jpeg) no-repeat center;
  background-size: cover;
}
.airpods-pro {
  border: 0.0001px solid;
  color: var(--white);
  width: 100%;
  height: var(--size);
  margin-bottom: 0.9375rem;
  background: url(./../products/airpods_pro.jpeg) no-repeat center;
  background-size: cover;
}

/* content 요소 레이아웃 */
.odd-content {
  gap: var(--small-spacing);
  padding-top: var(--large-spacing);

  text-align: center;
  .title {
    font-size: var(--large-text);
    font-weight: 700;
  }
  .sub-title {
    font-size: var(--base-text);
    margin-block: var(--small-spacing);
    line-height: var(--line-normal);
    font-weight: 500;
  }
  .notice {
    font-size: var(--small-text);
    color: var(--gray);
    margin-block: var(--small-spacing);
  }
  .full-color-button-blue {
    margin-right: var(--base-spacing);
    background-color: var(--blue-300);
    color: var(--white);
  }
  .empty-color-button-blue {
    background-color: transparent;
    border: 1px solid var(--blue-300);
    color: var(--blue-300);
  }
  .full-color-button-black {
    margin-right: var(--base-spacing);
    background-color: var(--black);
    color: var(--white);
  }
  .empty-color-button-black {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
  }
}

.even-content {
  gap: var(--small-spacing);
  color: var(--black);
  padding-top: var(--large-spacing);

  text-align: center;
  .title {
    font-size: var(--large-text);
    font-weight: 700;
  }
  .sub-title {
    font-size: var(--base-text);
    margin-block: var(--small-spacing);
    line-height: var(--line-normal);
    font-weight: 500;
  }
  .notice {
    font-size: var(--small-text);
    color: var(--gray);
    margin-block: var(--small-spacing);
  }
  .full-color-button-blue {
    margin-right: var(--base-spacing);
    background-color: var(--blue-300);
    color: var(--white);
  }
  .empty-color-button-blue {
    background-color: transparent;
    border: 1px solid var(--blue-300);
    color: var(--blue-300);
  }
  .full-color-button-black {
    margin-right: var(--base-spacing);
    background-color: var(--black);
    color: var(--white);
  }
  .empty-color-button-black {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
  }
}

/* 사용자 기기 해상도에 따른 이미지 미디어쿼리 */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ipad-pro-card {
    background-image: url(./../products/ipad_pro_2x.jpeg);
  }
  .ipad-air-card {
    background-image: url(./../products/ipad_air_2x.jpeg);
  }
  .iphone-15-pro-card {
    background-image: url(./../products/iphone15_pro_2x.jpeg);
  }
  .iphone-15-card {
    background-image: url(./../products/iphone15_2x.jpeg);
  }
  .watch {
    background-image: url(./../products/apple_watch_2x.jpeg);
  }
  .macbook-air {
    background-image: url(./../products/macbook_air_2x.jpeg);
  }
  .airpods-pro {
    background-image: url(./../products/airpods_pro_2x.jpeg);
  }
}

/* 화면 사이즈에 따른 미디어 쿼리 */
@media (min-width: 1024px) {
  .ipad-air-card {
    background-image: url(./../products/ipad_air_wide.jpeg);
  }
  .ipad-pro-card {
    background-image: url(./../products/ipad_pro_wide.jpeg);
  }
  .iphone-15-pro-card {
    background-image: url(./../products/iphone15_pro_wide.jpeg);
  }
}

/* 화면 사이즈와 해상도를 모두 고려한 미디어쿼리 */
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), (min-resolution: 192dpi) and (min-width: 1024px) {
  .ipad-air-card {
    background-image: url(./../products/ipad_air_wide_2x.jpeg);
  }
  .ipad-pro-card {
    background-image: url(./../products/ipad_pro_wide_2x.jpeg);
  }
  .iphone-15-pro-card {
    background-image: url(./../products/iphone15_pro_wide_2x.jpeg);
  }
}
